[submodule "pokered"]
	path = pokered
	url = https://github.com/iimarckus/pokered
[submodule "rom-build/rgbds"]
	path = rom-build/rgbds
	url = https://github.com/bentley/rgbds
[submodule "GameBoy-Online"]
	path = GameBoy-Online
	url = https://github.com/grantgalitz/GameBoy-Online
